/* Asegura que el body ocupe todo el alto disponible y no se salga del viewport */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% de la altura del viewport */
}

/* HTML y body ocupan el 100% de la altura de la pantalla */
html, body {
  height: 100%;
}

/* Estilos del header */
#header {
  background-color: #6200ea;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el mensaje */
#mensaje {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

/* Contenedor del mapa */
#sample_map {
  position: relative;
  flex-grow: 1; /* Esto hace que el mapa ocupe todo el espacio disponible entre el header y el footer */
  margin: 1%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: calc(100% - 20%); /* Ajustamos la altura para que no se superponga al footer */
}

/* El mapa toma todo el espacio dentro del contenedor */
#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Estilo para los botones */
.boton2 {
  width: 45%;
  background-color: #6200ea;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 1%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton2:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

/* Contenedor de botones */
#botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

/* Estilo para el footer, con posición fija */
#footer {
  background-color: #6200ea;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ocupa todo el ancho */
}

/* Estilo para las ventanas modales */
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11110;
}

#modal-ventana, #modal-ventana2 {
  display: none;
  position: absolute;
  background-color: #6200ea;
  width: 40%;
  padding: 20px;
  opacity: 0.9;
  font-size: 20px;
  text-align: center;
  color: #fff;
  z-index: 11111;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para la imagen del marcador */
.img_marcador {
  position: fixed;
  margin-top: -7%;
  margin-left: 12%;
  z-index: -1;
}

@media (min-width: 768px) {
  .img_marcador {
      margin-top: -2%;
      margin-left: 18%;
  }
}

/* Estilo para el campo de entrada */
#destino-input {
  width: 45%;
  padding: 10px;
  margin: 1%;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 18px;
}

/* Estilo para el botón de búsqueda */
.boton2.lupa {
  width: 10%;
  background-color: #6200ea;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 1%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton2.lupa:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

/* Estilo para el campo de entrada */
#destino-input {
  width: 45%;
  padding: 10px;
  margin: 1%;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 18px;
}

/* Estilo para el botón de búsqueda */
.boton2.lupa {
  width: 10%;
  background-color: #6200ea;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 1%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton2.lupa:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

/* Estilo para la lista de opciones */
#opciones {
  margin: 1%;
}

#lista-opciones {
  position: absolute;
  z-index: 11111;
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;

  margin-top: 110%;
}

#lista-opciones li {
  background-color: #9c9cf5bd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#lista-opciones li:hover {
  background-color: #ddd;
}